blockquote { padding: 2vw; }

#quote-box {
  margin-top: 10vh;
  background-color: #041C32;
  color: white;
  padding: 5vw;
}

#text { padding: 2%; }

#author { padding: 5%; }

#icon { width: 9%; }

#new-quote { padding: 5%; }
